<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

<head>
	<meta charset="UTF-8">
	<title>PET SHOP CEDRO</title>
</head>

<body>
	
	<form method="get" action="/animal/salvar" class="form-group col-md-6 offset-md-5">
		Nome: <br><input type="text" name="nome"/> <br>
		Raça: <br><input type="text" name="raca"/> <br>
		Tutor: <br><input type="text" name="tutor"/> <br>
		Idade: <br><input type="text" name="idade"/> <br><br>
		
		<input type="submit" value="Cadastrar" class="btn btn-primary"/>
	</form>
	
	
	<script src="/js/bootstrap.min.js"></script>

</body>

</html>